<div class="container w-50 mt-3">
  <article>
      <h1><%= @article.title %></h1>
      <%= link_to 'Update Article', edit_article_path(@article) %>
      <%= link_to 'Delete Article', article_path(@article), method:"delete" %>
      <p><%= @article.content %></p>
  </article>
</div>


